@{
    ViewData["Title"] = "Page Not Found";
}

<h1 class="display-4">404</h1>

<p class="my-3">Awkward! We couldn't find what you were looking for.</p>
<a class="btn btn-success" href="/">Back to home</a>