@{
    ViewData["Title"] = "Unauthorized";
}

<h1 class="display-4">Unauthorized 401</h1>

<p class="my-3">Sorry, you must be logged in to do that.</p>
<a class="btn btn-success" href="/">Back to home</a>