@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Cinzel+Decorative:wght@400;700;900&family=Eagle+Lake&family=Macondo+Swash+Caps&family=Metamorphous&display=swap");

/* font-family: "Alan Sans", sans-serif; */
/* font-family: "Metamorphous", serif; */
/* font-family: "Macondo Swash Caps", cursive; */
/* font-family: "Eagle Lake", serif; */
/* font-family: "Cinzel Decorative", serif; */

a {
  font-family: "Eagle Lake", serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #214a4c;
  font-family: "Alan Sans", sans-serif;
}

.navbar {
  background-color: #153536 !important;
}

footer {
  background-color: #153536;
}

.form-control {
  background-color: #d8d8d8;
  color: #153536;
}
.form-control:focus {
  background-color: #d8d8d8;
  color: #153536;
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Books Filter Dropdown */

.dropbtn {
  /* background-color: #04aa6d; */
  padding: 0.25rem 1.5rem;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Alan Sans", sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  font-family: "Alan Sans", sans-serif;
}
.dropdown-content a:hover {
  border-radius: 10px;
  background-color: #ddd;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Book Cards */
.bookCard {
  background-color: #153536bd;
  border: #0b212294 1px solid;
  border-radius: 6px 6px 0 0;
}
.bookCard a {
  text-decoration: none;
}
.bookCard a:hover {
  text-decoration: underline;
}
.card-footer {
  background-color: #102d2e;
}

.login-container {
  margin: 0 15rem;
}

.main,
.aside {
  padding: 1.25rem;
  min-height: 20rem;
}

.main {
  flex: 2;
}

.aside {
  flex: 1;
}
